@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
html,
body {
  height: 100%;
  color: #000; }

body {
  margin: 0;
  font-family: Roboto, sans-serif; }

#root {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

code,
pre {
  font-family: Roboto Mono, monospace; }

code {
  color: #444444; }

.mdc-top {
  padding-top: 25px
}

.fixed-nav {
  padding-top: 10px !important; }

.container {
  flex: 1; }

.toolbar {
  /* Codemirror has z-index > 3 */
  z-index: 4; }

.toolbar-menu > a {
  padding-left: 16px; }

.toolbar-title-text {
  font-family: Roboto Mono; }

$app-theme-dark-background: #212121;
$mdc-theme-primary: #80CBC4;
$mdc-theme-accent: #ffab40;
$mdc-theme-background: #fff;

@import "@material/theme/mdc-theme.scss";

.mdc-toolbar a {
    color: #f0f0f0;
    text-decoration: none;
    @include mdc-theme-prop(color, text-primary-on-primary);
}

.toolbar-menu {
    padding-right: 16px;
    text-decoration: none;
    @include mdc-theme-prop(color, text-primary-on-primary);
}

.toolbar-title {
    text-decoration: none;
    @include mdc-theme-prop(color, text-primary-on-primary);
}

@import "@material/animation/mdc-animation";
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/checkbox/mdc-checkbox";
@import "@material/dialog/mdc-dialog";
@import "@material/drawer/mdc-drawer";
@import "@material/elevation/mdc-elevation";
@import "@material/fab/mdc-fab";
@import "@material/form-field/mdc-form-field";
@import "@material/grid-list/mdc-grid-list";
@import "@material/icon-toggle/mdc-icon-toggle";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/list/mdc-list";
@import "@material/menu/mdc-menu";
@import "@material/radio/mdc-radio";
@import "@material/ripple/mdc-ripple";
@import "@material/select/mdc-select";
@import "@material/slider/mdc-slider";
@import "@material/snackbar/mdc-snackbar";
@import "@material/switch/mdc-switch";
@import "@material/tabs/mdc-tabs";
@import "@material/textfield/mdc-textfield";
@import "@material/toolbar/mdc-toolbar";
@import "@material/typography/mdc-typography";


// @import 'node_modules/material-components-web/material-components-web.scss'
